.container,
.popup,
.wrapper,
body {
  display: flex;
}
#new-game,
#restart {
  background-color: #0a0027;
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}
body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(135deg, #8052ec, #d161ff);
}
html {
  font-size: 16px;
}
.wrapper {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 70vmin;
  height: 70vmin;
  flex-wrap: wrap;
  gap: 2vmin;
}
.button-option {
  background: #fff;
  height: 22vmin;
  width: 22vmin;
  border: none;
  border-radius: 8px;
  font-size: 12vmin;
  color: #d161ff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}
#restart {
  margin-top: 1.5em;
  font-size: 1.3em;
  padding: 1em 2em;
  border-radius: 8px;
  border: none;
  display: block;
}
.popup {
  background: linear-gradient(135deg, #8052ec, #d161ff);
  height: 100%;
  width: 100%;
  position: absolute;
  align-items: center;
  justify-content: center;
  z-index: 2;
  flex-direction: column;
  gap: 1em;
  font-size: 12vmin;
}
#new-game {
  font-size: 0.6em;
  padding: 0.5em 1em;
  border-radius: 0.2em;
  border: none;
}
#message {
  color: #fff;
  text-align: center;
  font-size: 1em;
}
.popup.hide {
  display: none;
}
@media screen and (max-width: 430px) {
  #restart {
    padding: 1em;
  }
}
@media screen and (max-width: 380px) {
  #restart {
    padding: 0.9em;
  }
  #new-game {
    font-size: 0.5em;
  }
}
@media screen and (max-width: 325px) {
  #restart {
    padding: 0.7em;
  }
}
