/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  color: #333;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  background-image: linear-gradient(to top left, #753682 0%, #bf2e34 100%);
}

/* Layout */
main {
  width: 100rem;
  height: 60rem;
  position: relative;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 1.2rem;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* Elements */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}
.player-active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player-active .name {
  font-weight: 700;
}
.player-active .score {
  font-weight: 400;
}
.player-active .current {
  opacity: 1;
}

.current {
  background-color: #c7365f;
  color: #fff;
  padding: 2rem;
  border-radius: 9px;
  opacity: 0.8;
  width: 65%;
  text-align: center;
  transition: all 0.75s;
}
.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}
.current-score {
  font-size: 3.5rem;
}

/* Absolute Positioned Element */
.btn,
.dice {
  position: absolute;
}
.btn {
  left: 50%;
  transform: translateX(-50%);

  /* Typo */
  color: #444;
  border: none;
  background: none;
  font-size: 1.8rem;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  /* background Styling */
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.7rem 3.5rem rgba(0, 0, 0, 0.1);
}

.btn::first-letter {
  font-size: 2.4rem;
  margin-right: 0.7rem;
  display: inline-block;
}
.btn-new {
  top: 4rem;
}
.btn-roll {
  top: 39.3rem;
}
.btn-hold {
  top: 46.1rem;
}

/* Image */
.dice {
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}

/* Helper Classes */
.player-winner {
  background-color: #2f2f2f;
}
.player-winner .name {
  font-weight: 700;
  color: #c7365f;
}
.hidden {
  display: none;
}
